* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #c1b5ad;
}

#map {
  height: 80vh;
  width: 80vw;
  border-width: 1em;
  border-style: solid;
  border-color:green;
}

#navbar {
  display: flex;
  background-color: white;
  height: 10vh;
}

#container {
  display: flex;
  background-color: thistle;
}
#optionsPanel {
  height: 20vh;
  width: 20vw;
  background-color: red;
  border-width: 1em;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: column
  ;
}
